label#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  height: 160px;
  max-height: 200px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail {
  border: none;
}

label#thumbnail.has-thumbnail img {
  display: none;
}

.errorMsg {
  color: #eb516d;
  margin-bottom: 0 !important;
}
.red {
  border: 1px solid #eb516d !important;
}

#category {
  margin-bottom: 20px;
}
